* {
    background: #e0e0e0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

.box {
    float: left;
    width: 31%;
    height: auto;
    padding: 2px;
    margin-right: 15px;
    border: 1px solid black;
    position: relative;
    background: darkgrey;
}

.topright {
    border: 1px solid black;
    position: absolute;
    width: 25%;
    height: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    

}

p {
    padding-top: 35px;
    text-align: center;
    background: darkgrey;
}
.ch {
    background: burlywood;
    text-align: center;
}

.bf {
    background: cornsilk;
    text-align: center;
}

.su {
    background: darkcyan;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .one, .two {
        width: 45%;
        padding: 10px;
        margin: 20px;
    }
    .three {
        width: 95%;
        padding: 10px;
        margin: 20px;
    }
    .container {
        padding: 0;
        margin: 0;
    }

}

@media (max-width: 767px) {
    .one, .two, .three {
        width: 98%;
        padding: 10px;
        margin: 20px;
    }
}
